@charset "UTF-8";

/* Custom font faces 설정 */
@font-face {
	font-family: 'HSSanTokki20-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'yg-jalnan';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SDSamliphopangche_Outline';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WavvePADO-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'KBO-Dia-Gothic_bold';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* 기본 body 스타일 설정 */
body {
	height: 100%;
	font-family: Arial, sans-serif;
	background-color: #cce5ff !important;
	/* 원하는 배경색 설정 */
	margin: 0;
	padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header 스타일 설정 */
header {
	font-family: 'WavvePADO-Regular';
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	background-color: #ffffff;
	border-bottom: 2px solid #e0e0e0;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

/* 로고 스타일 설정 */
.logo {
	display: flex;
	align-items: center;
}

.logo .btn-logo {
	font-size: 18px;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.logo .logo-img {
	height: 50px;
	margin-left: -30px;
	/* Adjust the height as needed */
}

/* 메인 메뉴 스타일 설정 */
.main_menu {
	flex-grow: 1;
	text-align: center;
	display: flex;
	align-items: center;
}

.main_menu ul {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
}

.main_menu ul li {
	display: inline;
}

.menu-btn {
	font-family: 'WavvePADO-Regular';
	font-weight: 500;
	font-size: 18px;
	background: none;
	border: none;
	color: #002851;
	cursor: pointer;
	padding: 10px 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-btn:hover {
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	color: #0056b3;
}

/* 인증 버튼 스타일 설정 */
.auth-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.ment {
	font-family: 'WavvePADO-Regular';
	font-weight: 500;
	font-size: 16px;
	margin-right: 10px;
}

.auth-buttons button {
	font-family: 'WavvePADO-Regular';
	font-weight: 500;
	font-size: 16px;
	background: none;
	border: none;
	color: #002851;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s ease;
	/* 배경색 변경에 대한 부드러운 전환 효과 추가 */
}

.auth-buttons button:hover {
	background-color: rgba(0, 0, 0, 0.05);
	/* 마우스를 올렸을 때의 배경색 설정 */
	color: #0056b3;
	border-radius: 5px;
	/* 테두리 반경 설정 */
	padding: 5px 10px;
	/* 내부 여백 설정 */
}

/* 컨텐츠 스타일 설정 */
.content {
	display: flex;
	margin-top: 60px;
	/* Add margin to account for the fixed header */
}

.sidebar {
	font-family: 'WavvePADO-Regular';
	width: 200px;
	background-color: #8bafd9;
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	top: 60px;
	/* 헤더 위에 위치하도록 조정 */
	bottom: 0;
	/* footer 위에 위치하지 않도록 하기 위해 추가 */
	left: 0;
	overflow-y: auto;
	z-index: 999;
	/* 다른 요소들보다 위에 올라가도록 설정 */
}

/* 최근 조회 경기 스타일 설정 */
.recent-views {
	background-color: #ffffff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 20px;
	margin-top: 30px;
}

.recent-views h3 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 30px;
	white-space: nowrap;
	/* 텍스트를 한 줄로 나오도록 설정 */
}

.recent-views ul {
	font-family: 'Pretendard-Regular';
	list-style: none;
	padding: 0;
	margin: 0;
}

.recent-views ul li {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-image: url('/resource/images/footer/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 1000;
}

.footer-items a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    font-family: 'Pretendard-Regular';
}

.footer-items {
    display: flex;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.footer-items>div {
    flex: 1;
    text-align: center;
}
.anal {
	flex-grow: 1;
	margin-left: 250px;
	margin-right: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.analbox {
	width: 800px;
	/* 너비를 80%로 설정 */
	height: 550px;
	align-items: center;
	text-align: center;
	margin-top: 110px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.analtitle {
	font-size: 35px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 5px;
	text-align: center;
	font-family: 'WavvePADO-Regular';
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 5px;
}

#summaryText {
	font-family: 'Pretendard-Regular';
	max-width: 100%;
	/* 부모 요소의 너비를 초과하지 않도록 설정 */
	white-space: pre-wrap;
	/* 줄 바꿈을 허용 */
	word-wrap: break-word;
	/* 긴 단어를 잘라서 줄 바꿈 */
	overflow-y: auto;
	/* 모달 창 밖으로 벗어나는 텍스트를 숨김 */
	max-height: 250px;
	margin-right: 30px;
}

#summaryChart {
	margin-left: 30px;
}

.ment_top {
	display: block;
	max-width: 383px;
	/* 부모 요소의 너비를 초과하지 않도록 설정 */
	height: 64.037px;
	/* 비율을 유지하면서 높이를 자동으로 설정 */
	margin-left: -15px;
	margin-right: 30px;
	margin-bottom: 15px;
}

.body_row {
	display: flex;
	gap: 10px;
	margin-top: 30px;
}

.col-md-6 {
	flex: 1;
}

.allbox {
	display: flex;
}

.replybox {
	width: 500px;
	height: 550px;
	align-items: center;
	text-align: center;
	margin-top: 110px;
	margin-bottom: 30px;
	margin-left: 30px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.reply {
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Pretendard-Regular';
	max-width: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-y: auto;
	min-height: 350px;
	max-height: 350px;
	margin-left: 0; /* 마진을 제거하여 왼쪽 여백 없앰 */
	margin-top: 0; /* 상단 마진을 제거 */
	padding-top: -10px; /* 상단 패딩을 추가하여 여백 조정 */
}

.replyment {
	font-family: 'Pretendard-Regular';
	padding: 20px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: absolute;
}

.yoursamplereply {
	font-family: 'Pretendard-Regular';
	font-size: 18px;
	position: relative;
	background: #ffcccc;
	border-radius: 5px;
	width: max-content;
	max-width: 400px;
	min-height: 50px;
	margin-top: -130px;
	margin-bottom: -50px;
	padding: 0;
	border-bottom: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: left;
	padding: 10px;
	white-space: pre-wrap;
	/* 줄 바꿈을 허용 */
	word-wrap: break-word;
	/* 긴 단어를 잘라서 줄 바꿈 */
}

.yoursamplereply:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #ffcccc;
	border-left: 0;
	margin-top: -8px;
	margin-left: -8px;
}

.mysamplereply {
	font-family: 'Pretendard-Regular';
	font-size: 18px;
	position: relative;
	background: #cce5ff;
	border-radius: 5px;
	width: max-content;
	max-width: 400px;
	min-height: 50px;
	margin-top: -15px;
	margin-bottom: -15px;
	padding: 0;
	border-bottom: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row-reverse;
	text-align: left;
	padding: 10px;
	white-space: pre-wrap;
	/* 줄 바꿈을 허용 */
	word-wrap: break-word;
	/* 긴 단어를 잘라서 줄 바꿈 */
}

.mysamplereply:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-left-color: #cce5ff;
	border-right: 0;
	margin-top: -8px;
	margin-right: -8px;
}

.contents {
	flex: 1;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border: 3px solid #002851;
	padding-left: 10px;
}

.contentsbtn {
	font-family: 'RixInooAriDuriR';
	font-weight: bold;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	border-radius: 10px;
	background-color: #002851;
	font-size: 30px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.21);
	border-bottom-color: rgba(0, 0, 0, 0.34);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset, 0 2px 0 -1px
		rgba(0, 0, 0, 0.13), 0 3px 0 -1px rgba(0, 0, 0, 0.08), 0 3px 13px -1px
		rgba(0, 0, 0, 0.21);
}

.contentsbtn:active {
	top: 1px;
	border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21)
		rgba(0, 0, 0, 0.21);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05)
		inset;
	position: relative;
	text-align: center;
}

.replytitle {
	font-size: 30px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	font-family: 'WavvePADO-Regular';
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.games-row {
	margin-top: 110px;
	margin-bottom: 30px;
	margin-right: 50px;
}

.teams {
	display: flex;
	flex-direction: column; /* 세로 정렬을 위해 컬럼 방향으로 설정 */
	align-items: flex-start; /* 왼쪽 정렬 */
	margin-bottom: 10px;
	font-family: 'KBO-Dia-Gothic_bold';
	font-weight: 300;
	background-color: #ffffff;
	border-radius: 10px;
	white-space: nowrap; /* 글자 길이만큼 박스를 만들기 위해 */
}

.team {
	font-size: 15px;
	padding: 5px 10px;
	display: inline-flex; /* 팀 로고와 텍스트를 가로로 정렬하기 위해 */
	align-items: center; /* 가운데 정렬 */
}

.team-logo {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
}